<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Granadas Frescas</title>

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"/>

  <link rel="stylesheet" href="../static/css/output.css"/>
  <link rel="stylesheet" href="../static/css/inicio.css"/>
</head>

<body>

  <nav id="navbar">
    <a class="nav-logo" href="index.html">
      <img src="../static/image/logo.png" alt="Logo Granadas Frescas" style="width: 100px; height: auto; margin-right: 70px; margin-top: 30px;">
      <span>Granadas Frescas</span>
    </a>

    <ul class="nav-links" id="navLinks">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="productos.html">Productos</a></li>
      <li><a href="beneficios.html">Beneficios</a></li>
      <li><a href="nosotros.html">Nosotros</a></li>
      <li><a href="galeria.html">Galería</a></li>
      <li><a href="visitas.html">Visitas</a></li>
      <li><a href="chat.html">Chat IA</a></li>
    </ul>

    <button class="hamburger" id="hamburger">
      <span></span><span></span><span></span>
    </button>
  </nav>

  <section id="inicio">
    <div class="hero-bg">
      <video autoplay muted loop playsinline class="video-bg">
        <source src="../static/video/granadas.mp4" type="video/mp4">
      </video>
    </div>

    <div class="hero-content">
      <div class="hero-tag">100% Natural · Cultivado con Amor</div>
      <h1>¡Bienvenidos a <em>lo mejor</em> en granada!</h1>
      <p>Frescas, jugosas y llenas de sabor. Directo del campo a tu mesa con todo el amor de nuestra tierra.</p>

      <a href="productos.html" class="btn-primary">Ver Productos</a>
      <a href="nosotros.html" class="btn-outline">Conócenos</a>
    </div>

    <div class="hero-scroll">
      <span>Scroll</span>
      <div class="scroll-line"></div>
    </div>
  </section>

  <footer>
    <strong>Granadas Frescas</strong>
    <p>Calle Frutal 123, Valle Verde · +51 931127110 · valleverde@gmail.com</p>
    <p>© 2024 Granadas Frescas. Todos los derechos reservados.</p>
  </footer>

  <script src="../static/js/script.js"></script>
</body>
</html>